<div class="col-md-3">
    <div class="thumbnail">
    	<%= link_to book_path(book) do %>
      		<%= image_tag "https://imagery.pragprog.com/products/196/rails4.jpg?1378493037", class: 'img-responsive' %>
      	<% end %>	
      <div class="caption">
        <p><strong><%= link_to book.name, book_path(book) %></strong></p>
        <p>$<%= book.price.to_f / 100 %></p>
      </div>
    </div>
  </div>